/*Flaticon Icon Pack*/
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');

/*Font for buttons*/
@font-face {font-family: "League Spartan Bold"; src: url("fonts/LeagueSpartan-Bold.otf");}
/*Font for headings*/
@font-face {font-family: "20db"; src: url("fonts/20db.otf");}
/*Font for paragraphs*/
@font-face {font-family: "Glacial Indifference"; src: url("fonts/GlacialIndifference-Regular.otf");}

/*General styling that affects the defined tags*/
html {scroll-behavior: smooth;}
a{text-decoration: none; color: #286e80;}
h1{
  font-size: 3rem;
  font-family: "League Spartan Bold";
  letter-spacing: 3px;
  color: #286e80;
}
p{
  font-size: 1.2rem;
  font-family: "Glacial Indifference";
  text-align: justify;
}
button{
  font-size: 1.2rem;
  font-family: "Glacial Indifference";
  letter-spacing: 2px;
}
button:hover{
  cursor: url("cursor/target.png"), auto;
  transform: scale(1.2);
  transition: .5s;
}
img{object-fit: cover;}
body{
  margin: 0px;
  cursor: url("cursor/cursor.png"), auto;
  background-color: #EAE1D0;
  color: #323232;
}

body::-webkit-scrollbar{
  display: none;
}

/*NAV SECTION*/
nav{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #323232;
}
nav button{
  border: none;
  background-color: transparent;
  color: #286e80;
}
/*HERO SECTION*/
.hero{
  width: 100%;
  background-color: #C7AC40;
}
.hero-top{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default: Two columns */
  gap: 1rem; /* Space between items */
  margin: 20px auto 0px;
  padding-bottom: 20px;
}
.hero-top-img{
  width: 100%;
  margin-bottom: 20px;
}
.hero-description{
  width: 100%;
}
.title{
  white-space: nowrap;
  overflow: hidden;
  margin: 0px;
}
.hero-feature{
  margin: 50px auto;
}
.hero-feature button{
  height: 40px;
  margin: 20px 0px;
  border: none;
  border-bottom: 1px solid #286e80;
  background-color: transparent;
  color: #286e80;
}
.hero-feature img{
  height: 200px;
  width: 100%;
}

/*Grid columns & flexing for split hero section*/
@media (min-width: 851px) {
  nav button{
    margin: 0px 25px;
  }
  .hero-top {
    grid-template-columns: calc(60% - 1rem) calc(37.5% - 1rem); /* Two columns with specified proportions */
    justify-content: space-evenly; /* Aligns the columns with proper spacing */
    width: 98%;
  }
  .hero-top-img{
  height: 600px;
  }
}

@media (max-width: 850px) {
  nav button{
    margin: 0px 10px;
  }
  .hero-top {
    grid-template-columns: 1fr; /* Single column */
  }
  .hero-top, .hero-description {
    width: 95%; /* Full width minus margins for smaller viewports */
    margin: 50 auto; /* Center align items */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title, .heading{
    width: 100%;
    font-size: 4rem;
    text-align: left;
  }
  .hero-feature{
    width: 100%;
  }
}

/*Media queries for title "ACCRA VIBES"*/
@media screen and (max-width: 450px) {
  .title{font-size: 2.8rem; text-align: center;}
}
@media screen and (min-width: 451px) and (max-width: 550px) {
  .title{font-size: 4rem; text-align: center;}
}
@media screen and (min-width: 551px) and (max-width: 750px) {
  .title{font-size: 5rem; text-align: center;}
}
@media screen and (min-width: 751px) and (max-width: 850px) {
  .title{font-size: 6rem; text-align: center;}
}
@media screen and (min-width: 851px) and (max-width: 1150px) {
  .title{font-size: 3rem;}
}
@media screen and (min-width: 1151px) and (max-width: 1300px) {
  .title{font-size: 4rem;}
}
@media screen and (min-width: 1301px) {
  .title{font-size: 4.5rem;}
}

/*HISTORY SECTION*/
.history{
  width: 100%;
  margin: 0px auto;
  padding: 50px 0px;
  background-color: #286e80;
  color: white;
}
.history-text{
  width: 95%;
  margin: 50px auto;
}
.history-text .heading{
  color: #323232;
}
.history-text button{
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 450px) {
  .history-text .heading{font-size: 3rem;}
}
@media screen and (min-width: 451px) and (max-width: 650px) {
  .history-text .heading{font-size: 4rem;}
}
@media screen and (min-width: 651px) and (max-width: 950px) {
  .history-text .heading{font-size: 5rem;}
}
@media screen and (min-width: 951px) {
  .history-text .heading{font-size: 6rem;}
}

#explore{
  width: 100%;
}

.topic{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: Two columns */
  gap: 1rem; /* Space between items */
  margin: 0px;
  padding: 50px 0px;
}
.topic button{
  margin-top: 150px;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}
.topic-img{
  width: 100%;
}
.topic-description{
  color: #323232;
}

@media screen and (max-width: 450px) {
  .topic-info .heading{font-size: 3rem;}
}
@media screen and (min-width: 451px) and (max-width: 650px) {
  .topic-info .heading{font-size: 4rem;}
}
@media screen and (min-width: 651px) and (max-width: 950px) {
  .topic-info .heading{font-size: 5rem;}
}
@media screen and (min-width: 951px) {
  .topic-info .heading{font-size: 5rem;}
}
  
/* Use minmax and calc() for responsive sizing */
@media (min-width: 1001px) {
  .topic {
    grid-template-columns: calc(35% - 1rem) calc(25% - 1rem) calc(35% - 1rem); /* Two columns with specified proportions */
    justify-content: space-evenly; /* Aligns the columns with proper spacing */
  }
  .topic-img{
    height: calc(500px - 3rem);
  }
  .topic-description{
    margin-bottom: 200px;
  }
  .topic-extra img{
    height: 150px;
    width: 45%;
    margin: 0px 5px;
  }
}
  
@media (max-width: 1000px) {
  .topic {
    grid-template-columns: 1fr; /* Single column */
  }
  .topic-img, .topic-info {
    width: 95%; /* Full width minus margins for smaller viewports */
    margin: 0 auto; /* Center align items */
  }
  .topic-img{
    height: 400px;
  }
  .topic-extra{
    width: 95%;
    margin: 0px auto;
  }
  .topic-extra img{
    height: 200px;
    width: 45%;
    margin: 10px 5px;
  }
}

footer{
  width: 100%;
  padding: 20px 0px;
  background-color: #323232;
  color: white;
}

.footer-top{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-top div{
  margin: 0px 30px;
}
@media screen and (max-width: 480px) {
  .footer-top div{
    width: 95%;
  }
}
footer hr{
  height: 2px;
  width: 100%;
  margin: 50px 0px;
  background-color: white;
  border: none;
}
footer h1{
  margin: 0px;
  text-align: center;
  letter-spacing: 10px;
}

@media screen and (max-width: 450px) {
  footer h1{font-size: 3rem;}
}
@media screen and (min-width: 451px) and (max-width: 650px) {
  footer h1{font-size: 4rem;}
}
@media screen and (min-width: 651px) and (max-width: 950px) {
  footer h1{font-size: 5rem;}
}
@media screen and (min-width: 951px) {
  footer h1{font-size: 5rem;}
}

  /*DROPDOWN MENU*/
  .dropdown-menu{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #286e80;
    color: #EAE1D0;
    display: none;
  }
  .dropdown-menu .close-button{
    margin: 50px;
    font-size: 5rem;
  }
  .menu-buttons{
    width: 90%;
    margin: 50px auto;
  }
  .menu-buttons h1{
    color: #EAE1D0;
    font-size: 5rem;
    transform-origin: top left; /* Sets the origin to the top point */
    transition: transform 0.3s ease; /* Adds a smooth scaling animation */
  }
  .menu-buttons h1:hover{
    cursor: url("cursor/target.png"), auto;
    transform: scale(1.2);
    transition: .5s;
  }

@media screen and (max-width: 500px) {
  .menu-buttons{
    text-align: center;
  }
  .menu-buttons h1{
    font-size: 3rem;
  }
}

@media screen and (min-width: 501px) and (max-width: 850px) {
  .menu-buttons{
    text-align: center;
  }
  .menu-buttons h1{
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 851px) {
  .menu-buttons h1{
    font-size: 7rem;
    margin: 0px;
  }
}


  /*ABOUT SECTION*/
.about{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4949492c;
  backdrop-filter: blur(3px);
  display: none;
}

.about-card{
  height: 90%;
  width: 80%;
  overflow-y: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #dadada;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.about-card::-webkit-scrollbar{
  display: none;
}
.about-card p{
  color: #323232;
}
.close-button{
  background-color: transparent;
  border: none;
  color: #323232;
  font-size: 3rem;
}