
/*
@media screen and (max-width: 450px) {
    
}
@media screen and (min-width: 451px) and (max-width: 650px) {
    
}
@media screen and (min-width: 651px) and (max-width: 850px) {
    
}
@media screen and (min-width: 851px) and (max-width: 1200px) {
    
}
@media screen and (min-width: 450px) {
    
}

*/


@font-face {
    font-family: "daniel";
    src: url("Daniel-Regular.otf");
}

@font-face {
    font-family: "sniglet regular";
    src: url("Sniglet-Regular.otf");
}

@font-face {
    font-family: "sniglet extra bold";
    src: url("ANUDI___.ttf");
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    cursor: url("cursor.png"), auto;
    font-family: "daniel";
    background-color: #4d6e67;
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FD8B51;
}
.name{
    font-family: "sniglet extra bold";
}
nav p:hover{
    transform: scale(1.3);
    cursor: url("target.png"), auto;
    color: whitesmoke;
}

.hero{
    background-color: #5B9A8B;
}
.hero-top{
    overflow: hidden;
}
.hero-main-text, .section-title{
    font-family: "sniglet extra bold";
}
.hero-sub-text{
    color: #3e5853;
    font-size: 2rem;
}
.hero-bottom{
    color: #FD8B51;
}
.topic-box a{
    color: #FD8B51;
    text-decoration: none;
}
@media screen and (max-width: 450px) {
    nav
    {height: 50px;}
    .name
    {margin: 0px 30px;}
    nav p
    {display: none;}
    .nav-button
    {height: 40px; width: 80px; margin: 0px 50px; font-size: 2rem;}
    .hero
    {width: 95%; margin: 10px auto; padding-top: 5px; padding-bottom: 60px; border-radius: 30px;}
    .hero-top
    {width: 90%; margin: 50px auto;}
    .hero hr
    {height: 2px; width: 90%; margin: 10px 0px; border: none; background-color: #3e5853;}
    .hero-bottom
    {width: 85%; margin: 50px auto; padding: 10px; display: flex; overflow: auto; white-space: nowrap; scroll-behavior: smooth; background-color: #FD8B51; border-radius: 30px;}
    .hero-bottom::-webkit-scrollbar
    {display: none;}
    .hero-main-text
    {color: #F7E987; font-size: 3rem; letter-spacing: -10px;}
    .hero-sub-text
    {margin: 50px 0px 10px;}
    .topic-box
    {height: 200px; min-width: 80%; margin: 5px; padding: 0px 10px; background-color: black; border-radius: 15px; background-position: center; background-attachment: local; background-size: cover;}
    .fine-dining{background-image: url("pexels-adrien-olichon-fine-dining-resized.jpg"); color: white;}
    .beaches{background-image: url("pexels-fabianwiktor-beaches-resized.jpg");}
    .coffee{background-image: url("pexels-chevanon-coffee-resized.jpg");}
    .galleries{background-image: url("pexels-unalaurencic-gallery-resized.jpg");}
    .fast-food{background-image: url("pexels-jonathanborba-fast-food-resized.jpg");}
    .bar{background-image: url("pexels-nastyasensei-bar-resized.jpg"); color: white;}
    .mall{background-image: url("pexels-magda-ehlers-pexels-mall-resized.jpg");}
}
@media screen and (min-width: 1201px) {
    nav
    {height: 80px;}
    .name
    {margin: 0px 30px; font-size: 3rem;}
    nav p
    {margin: 0px 50px; font-size: 2rem;}
    .hero
    {width: 98%; margin: 10px auto; padding: 50px 0px; border-radius: 50px;}
    .hero-top
    {width: 90%; margin: 50px auto;}
    .hero hr
    {height: 2px; width: 90%; margin: 10px 0px; border: none; background-color: #3e5853;}
    .hero-bottom
    {width: 95%; margin: 50px auto; padding: 10px; display: flex; overflow: auto; white-space: nowrap; scroll-behavior: smooth; background-color: #FD8B51; border-radius: 30px;}
    .hero-bottom::-webkit-scrollbar
    {display: none;}
    .hero-main-text
    {color: #F7E987; font-size: 8rem; letter-spacing: -10px;}
    .hero-sub-text
    {width: 40%; margin: 50px 0px 100px;}
    .topic-box
    {height: 400px; min-width: 90%; margin: 15px; padding: 0px 10px; background-color: black; border-radius: 15px; background-position: center; background-attachment: local; background-size: cover;}
    .fine-dining{background-image: url("pexels-adrien-olichon-fine-dining-resized.jpg"); color: white;}
    .beaches{background-image: url("pexels-fabianwiktor-beaches-resized.jpg");}
    .coffee{background-image: url("pexels-chevanon-coffee-resized.jpg");}
    .galleries{background-image: url("pexels-unalaurencic-gallery-resized.jpg");}
    .fast-food{background-image: url("pexels-jonathanborba-fast-food-resized.jpg");}
    .bar{background-image: url("pexels-nastyasensei-bar-resized.jpg"); color: white;}
    .mall{background-image: url("pexels-magda-ehlers-pexels-mall-resized.jpg");}
}

.section{
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
}
.section-left{
    border-right: 2px solid black;
}
.section-main-text{
    margin: 50px 20px;
    font-family: "sniglet regular";
    color: #CB6040;
}
.section-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    font-size: 1.7rem;
}
.section-right p{
    margin: 20px;
}
.section-right::-webkit-scrollbar{
    display: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media screen and (max-width: 450px) {
    .section
    {width: 95%; margin: 10px auto; border-radius: 30px;}
    .section-left
    {width: 100%;}
    .section-right
    {width: 100%;}
    .section-title
    {margin: 50px 20px; font-size: 3rem;}
    .section-main-text
    {font-size: 2rem;}
    .section-right img
    {height: 400px; width: 95%; margin: 30px auto; object-fit: cover;}
    ul
    {width: 90%; color: #CB6040; font-family: "sniglet regular";}
    .gallery
    {width: 95%; margin: 20px auto;}
    .gallery img
    {height: 100px; width: 100px; margin: 3px; object-fit: cover;}
    .map
    {height: 300px; width: 95%; margin: 50px auto; border: none;}
}
@media screen and (min-width: 451px) and (max-width: 650px) {
    
}
@media screen and (min-width: 651px) and (max-width: 850px) {
    
}
@media screen and (min-width: 851px) and (max-width: 1200px) {
    
}
@media screen and (min-width: 1201px) {
    .section
    {width: 98%; margin: 10px auto; border-radius: 50px;}
    .section-left, .section-right
    {height: 120vh; width: 49.5%;}
    .section-title
    {margin: 50px 20px; font-size: 4rem;}
    .section-main-text
    {font-size: 3rem;}
    .section-right img
    {height: 400px; width: 95%; margin: 30px auto; object-fit: cover;}
    ul
    {width: 80%; color: #CB6040; font-family: "sniglet regular";}
    .gallery
    {width: 95%; margin: 20px auto;}
    .gallery img
    {height: 150px; width: 150px; margin: 5px; object-fit: cover;}
    .map
    {height: 500px; width: 95%; margin: 50px auto;}
}